# ${project.name} v${project.version}
# @author     ucchy
# @license    LGPLv3
# @copyright  Copyright ucchy 2014

# ------------------------- 設定 -------------------------

# 右クリックでターゲッティングしているときの、ターゲット取得最大距離
# 大きくすると、遠いプレイヤーも取得される。最大でも100以下にすること。
targetingRange: 40

# 右クリックでターゲッティングしているときの、ターゲット取得範囲(横方向)
# 大きくすると、ターゲットから離れたプレイヤーもターゲッティングされる。
targetingWidth: 2.5

# 同時にターゲット可能な対象数
maxTargetNum: 5

# ミサイルの加速スピード
missileAccelSpeed: 0.4

# ミサイルの最大スピード
missileMaxSpeed: 2.0

# 弾がヒットしたときに発生する爆風の強さ。
explosionPower: 3

# 弾がヒットしたときに対象に与える基本ダメージ量。
# 基本ダメージ量＋爆発によるダメージ量＝被弾した時の実際のダメージ量
explosionDamage: 3.0

# ミサイルランチャーとして使用するアイテムの素材
# 右クリックで使用することができる道具を指定してください。
launcherMaterial: 'GOLD_HOE'

# ミサイルランチャーのアイテム表示名
launcherDisplayName: '&9&lStinger'

# 無限ミサイルモード
# true :  ミサイルが手持ちに無くても、ランチャーのみでミサイルを無限に発射できます。
#         PVPサーバー向け。
# false : 手持ちにミサイル（普通のエンダーパール）が必要です。
#         1発打つごとにエンダーパールを1個消費します。サバイバルサーバー向け。
infiniteMissileMode: true

# MOBへのターゲッティング有効無効を切り替えする
targetingToMob: true

# プレイヤーへのターゲッティング有効無効を切り替えする
targetingToPlayer: true

# トロッコやボートへのターゲッティング有効無効を切り替えする
targetingToVehicle: true

# エンダークリスタルへのターゲッティング有効無効を切り替えする
targetingToEnderCrystal: true

# ミサイルを打ち出す時に消費する素材。
# infiniteMissileMode が true の場合は、この設定は無視されます。
# 例えば、BREADを指定すると、ミサイルを打ち出すときにパンを消費します。
# （ただし、実際にミサイルとして飛ぶのはエンダーパールです。）
consumeMissileMaterial: 'ENDER_PEARL'

# クリックしながらカーソルを合わせてロックオンするときに、
# ロックオンを実行するまでにかかる遅延サイクルを設定します。
# 1サイクルで5ticksです。
# 例えば lockonDelayCycle: 4  を設定すると、クリックしてカーソルを合わせてから
# 1秒後に対象がロックオンされます。
lockonDelayCycle: 0

# ------------------------- メッセージ -------------------------

messageTargetCandidate: '&7target candidate: %name,  distance: %distance'
messageTargetted: '&6targeted %name. (%num/%max)'
messageEmptyMissile: '&cYou don''t have missile(%material) !'
